@viewport {  width: device-width ;  zoom: 1.0 ;}
*{box-sizing:border-box}
body{margin:0;font-family:Arial,Helvetica,sans-serif;font-size:12pt;}
h2 {margin:0;}
p {margin-block-start: 1em; margin-block-end:0;}
.header{overflow:hidden;padding:20px 10px}
.header a{float:left;text-align:center;padding:12px;text-decoration:none;font-size:18px;line-height:25px;border-radius:4px}
.header a.logo{font-size:25px;font-weight:700}
.header-right{float:right}
.logocontainer{float:left;width:191px;height:52px;}

.flexgrid {width:100%;display:flex;flex-wrap:wrap;justify-content:left;}
.flexgrid > div {flex:1;}
.info {width:100%;padding:4px;display:flex;flex-wrap:wrap;justify-content:center;}
.info > div {flex:1;}

.info .stat {border:solid 2px gray;padding:2px;margin:2px;max-width:175px;min-width:95px;}
.info .stat .x {display:block;width:100%;text-align:right;}
.info .stat .t {font-size:10pt;}
.info .stat .v {font-size:22pt;font-family: 'Fira Code', monospace;font-weight:bold;}
.graphs {height:670px;width:99%;}
.ct-series-a .ct-bar {stroke-width:25px;}
button {font-family:Arial,Helvetica,sans-serif;border:solid 1px transparent;text-align:center;text-decoration:none;display:inline-block;font-size:14px;min-width:50pt;padding:6px;margin:1px;}
form > div > div {padding-bottom:4px;padding-top:4px;}
form label {width:220px;display:inline-block;text-align:right;font-size:smaller;}
form input {width:100px;display:inline-block;padding-left:5px;padding-right:5px;margin-left:5px;font-family: 'Fira Code', monospace;}
form input[type='input'] {width:225px;}
form input[type='submit'] {font-family:Arial,Helvetica,sans-serif;border:none;text-align:center;text-decoration:none;display:inline-block;font-size:14px;width:150pt;padding:10px;}

.error {padding:10px;display:none; width:100%;}
.success {padding:10px;display:none; width:100%;}
.warning {padding:10px;display:none; width:100%;}
.page {clear:both; width:100%; display:none;margin-top:5px;}
.page .region {float:left;padding:10px;margin-right:10px;width:45%;}
#modulesTable { width:100%; border-collapse: collapse; }
#modulesTable tbody tr td {font-family: 'Fira Code', monospace;text-align:right;}
#modulesTable button {margin-left:10px;}
#modulesTable thead tr th {text-align:right;}
#loading {width:64px;position:absolute;height:64px;margin-left: auto;margin-right: auto;padding: 0;top:50%;left:50%;}

#graphOptions {float: right;padding-right: 5px;width:100px;height:20px;}

@media screen and (max-width:1024px){
  .page .region {width:98%;}
  .header a {float:none;padding:6px;font-size:14px;line-height:20px;}
  .graphs {height:475px;width:99%;}
  .info .stat .v { font-size:12pt;}
  form label {width:160px;}
  form input[type='input'] {width:175px;}

  #modulesTable .hide {display:none;}
  #modulesTable .rows span {min-width:65px;}
  #modulesTable .rows button {margin-left:2px;}
  #modulesTable .th span {min-width:65px}

  .logo{width:75px;height:20px;}
  .logocontainer {width:80px;height:28px;}
}

/* Blue style */
body{background-color: white;}
.header{background-color:#d4f0fb}
.header a{color:#000;}
.header a:hover{background-color:#ddd;color:#000}
.header a.active{background-color:#1e90ff;color:#fff}
.ct-series-a .ct-bar {stroke:blue;}
form input[type='submit'] {color:white;background-color:#1e90ff;}
.error {color:#D8000C;background-color:#FFBABA;}
.warning {color:#000000;background-color:#ff9933;}
.success {color:#000000;background-color:#49BE3B;}
#modulesTable .selected {background-color:#d3f9fa;}
.triggered {background-color:#FFBABA;}



/* Dark colours 
#525252, #414141, #313131, #ca3e47
*/
body{background-color: #313131;color:#e8e8e8;}
a {color:#e8e8e8;font-weight:bold;}
a:visited {color:#e8e8e8;font-weight:bold;}
.header{background-color:#414141}
.error {color:#414141;background-color:#ca3e47;}


#ExternalIO {color:#414141;background-color:#ca3e47;}

.success {color:#414141;background-color:#44913b;}
.warning {color:#414141;background-color:#dc7b1a;}
.header a{color:#c1bdbd;}
.header a:hover{background-color:#c1bdbd;color:#414141}
.header a.active{background-color:#525252;color:#c1bdbd}
.info .stat {border:solid 2px #525252;}
.info .stat .t {color:#c1bdbd;}
.info .stat .v {color: #55a1ea;}
.ct-series-a .ct-bar {stroke:#525252;}
#modulesTable .selected {background-color:#414141;}
.triggered {background-color:rgb(68, 145, 59);}
.disablerule {text-decoration: line-through; background-color: #525252;}
.page .region {background-color:#525252;}
button {color:white;background-color:#1e90ff;}
button:hover {border:solid 1px white;}
button:focus {color:#1e90ff;background-color:white;}
form input[type='submit'] {color:white;background-color:#1e90ff;}

.page .region.wide {width:98%;}

.hidden {visibility: hidden;}
.rule input { width:80px; }
th {font-family:Arial,Helvetica,sans-serif;text-align:center;font-size:14px;}
.relayset select { min-width:50px; }
.settings label { min-width:285px;width:auto;}