name: PlatformIO CI

on:
  push:

jobs:
  job_install_prereq:
    runs-on: ubuntu-latest
    steps:       
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: ${{ runner.os }}-pip-
        
    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

    - name: Set up Python
      uses: actions/setup-python@v2
      
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
        

  job_build_modulecode:
    runs-on: ubuntu-latest
    needs: [job_install_prereq]
    steps:
    - name: Build code for modules
      run: pio run --project-dir=./ATTINYCellModule --project-conf=./ATTINYCellModule/platformio.ini
      
  job_build_controllercode:
    runs-on: ubuntu-latest
    needs: [job_install_prereq]
    steps:
    - name: Build code for controller
      run: pio run --project-dir=./ESPController --project-conf=./ESPController/platformio.ini

  job_zip_code:
    runs-on: ubuntu-latest
    needs: [job_build_modulecode, job_build_controllercode]
    steps:
    - name: ZIP output for release
      run: |
        zip --junk-paths release.zip ./ESPController/.pio/build/esp32-devkitc/diybms_controller_firmware_espressif32_esp32-devkitc.bin
        zip --junk-paths release.zip ./ESPController/.pio/build/esp8266_d1minipro/diybms_controller_firmware_espressif8266_esp8266_d1minipro.bin
        zip --junk-paths release.zip ./ATTINYCellModule/.pio/build/attiny841_V400/*.hex
        zip --junk-paths release.zip ./ATTINYCellModule/.pio/build/attiny841_V410/*.hex
        zip --junk-paths release.zip ./ATTINYCellModule/.pio/build/attiny841_V420/*.hex
        zip --junk-paths release.zip ./ATTINYCellModule/.pio/build/attiny841_V420_SWAPR19R20/*.hex
        zip --junk-paths release.zip ./ATTINYCellModule/.pio/build/attiny841_V421/*.hex
      
    - name: Build File System Image for ESP8266
      run: pio run --project-dir=./ESPController --target buildfs --environment esp8266_d1minipro
      
    - name: Build File System Image for esp32
      run: pio run --project-dir=./ESPController --target buildfs --environment esp32-devkitc
      
    - name: ZIP output for release
      run: |
        zip --junk-paths release.zip ./ESPController/.pio/build/esp32-devkitc/diybms_controller_filesystemimage_espressif32_esp32-devkitc.bin
        zip --junk-paths release.zip ./ESPController/.pio/build/esp8266_d1minipro/diybms_controller_filesystemimage_espressif8266_esp8266_d1minipro.bin

    - name: Get current date
      id: date
      run: echo "name=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
        
    - name: Publish Compile Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: DIYBMS-Compiled-Code
        path: ./release.zip
        if-no-files-found: error

    - name: Create Release Files on MASTER branch only
      id: create_release
      uses: actions/create-release@v1
      if: github.ref == 'refs/heads/master'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: Tag-${{ steps.date.outputs.date }}
        release_name: Release-${{ steps.date.outputs.date }}
        body: |
          Automatically generated release
        draft: false
        prerelease: false

    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      if: github.ref == 'refs/heads/master'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} 
        asset_path: ./release.zip
        asset_name: Compiled_Firmware_${{ steps.date.outputs.date }}.zip
        asset_content_type: application/zip        
